<form action="/articles" method="post">
  <p>
    <input type="text" name="title" id="title" placeholder="Title">
  </p>
  <p>
    <input type="text" name="content" id="Content" placeholder="Content">
  </p>
  <input type="submit" value="Submit">
</form>